
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;;
    background-repeat: no repeat;
    background-size: cover;
    height: 100vh;
    color: black;
    margin: 0;
    padding: 20px;
   
}

.container {
    max-width: 700px;
    margin: auto;
     display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.add-movie input {
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    background: transparent;
    border: 3px solid #0e4839 ;
    color: black;
    border-radius: 5px;
}

.add-movie button {
    margin-top: 10px;
    width: 20%;
    padding: 12px;
    background: #0e4839 ;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.section {
    background: #0e4839;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    color: white;
    }

.movie-card {
    padding: 10px;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
}



.poster {
    width: 120px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.buttons button {
    margin-right: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.watch-btn { 
    background: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    border:none;
    color: black;
 }
.watched-btn { 
    background: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    border:none;
    color: black;
}
.delete-btn {
    background: #f1f1f1;
    padding: 7px;
    border-radius: 5px;
    border:none;
    color: black;
} 

 @media (max-width: 768px) {
    .body{
        width: 100%;
        
    }
 }
